absl-py==2.0.0
addict==2.4.0
antlr4-python3-runtime==4.9.3
astor==0.8.1
attrs==23.1.0
blessed==1.20.0
cachetools==5.3.2
cattrs==23.1.2
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.2.0
clip==0.2.0
cloudpickle==2.2.1
colorama==0.4.6
contextlib2==21.6.0
coremltools==7.1
cycler==0.11.0
diffusers==0.9.0
einops==0.6.1
exceptiongroup==1.1.3
filelock==3.11.0
fonttools==4.38.0
fsspec==2023.1.0
google-auth==2.23.4
google-auth-oauthlib==0.4.6
gpustat==1.1.1
grpcio==1.59.2
huggingface-hub==0.16.4
idna==3.4
imageio==2.27.0
importlib-metadata==6.7.0
iniconfig==2.0.0
joblib==1.3.1
json-tricks==3.17.2
kiwisolver==1.4.4
label-convert==0.0.7
llvmlite==0.39.1
lpips==0.1.4
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.5.3
mdurl==0.1.2
mmcv-full==1.7.1
mmdet==2.28.2
mmengine==0.7.2
mpmath==1.3.0
natsort==8.2.0
networkx==2.6.3
nni==2.10.1
numba==0.56.4
numpy==1.21.6
nvidia-ml-py==12.535.133
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.14.1
opencv-python @ file:///home/zju/py3.7_pytorch1.8.1/py3.7_pytorch1.8.1/opencv_python-4.4.0.42-cp37-cp37m-manylinux2014_x86_64.whl
packaging==23.1
pandas==1.3.5
Pillow==9.5.0
pluggy==1.2.0
prettytable==3.7.0
protobuf==3.20.3
psutil==5.9.5
pyaml==23.5.8
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.6
Pygments==2.15.0
pyparsing==3.0.9
pytest==7.4.4
python-dateutil==2.8.2
PythonWebHDFS==0.2.3
pytz==2023.3
PyWavelets==1.3.0
PyYAML==6.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.23.3
rich==13.3.4
rsa==4.9
safetensors==0.4.0
schema==0.7.5
scikit-image @ file:///home/zju/py3.7_pytorch1.8.1/py3.7_pytorch1.8.1/scikit_image-0.18.2-cp37-cp37m-manylinux1_x86_64.whl
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
shapely==2.0.1
simplejson==3.19.1
six==1.16.0
slayerCuda==0.0.0
slayerLoihiCuda==0.0.0
slayerSNN==0.0.0
sympy==1.10.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
terminaltables==3.1.10
thop==0.0.31.post2005241907
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.9.10
tokenizers==0.12.1
tomli==2.0.1
torch==1.8.1+cu111
torchaudio==0.8.1
torchsummary==1.5.1
torchvision==0.9.1+cu111
tqdm==4.65.0
transformers==4.30.2
typeguard==2.13.3
types-PyYAML==6.0.12.11
typing_extensions==4.5.0
urllib3==2.0.4
wcwidth==0.2.6
websockets==11.0.3
Werkzeug==2.2.3
XlsxWriter==3.1.9
yapf==0.32.0
zipp==3.15.0
